// Reverting the container width to 1440px to keep the support tools styling consistent
// See https://github.com/edx/paragon/pull/533 for paragon breaking change

.container-fluid {
  max-width: 1440px;
}

.custom-table {
  font-size: small;
  width: 100%;
  th {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
  }
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid silver;
  }
}

.sso-table {
  font-size: small;
  width: auto;
  th {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
  }
  td {
    margin: 0;
    padding: 0.5rem;
  }
}

.custom-expander-table {
  font-size: small;
  margin-left: 10%;
  th {
    margin: 0;
    padding: 0.5rem;
    background-color: lightgray;
    border-bottom: 0px;
  }
  td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 0px;
  }
}

.text-center {
  margin: auto;
}
